body {
    background-color: #f4f4f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    margin-bottom: 50px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container1 p {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    margin-bottom: 80px;
}

p {
    margin: 20px;
}

.corps p {
    border-radius: 8px;
    box-shadow: 0 4px 8px blue;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
}

.corps {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin: 40px;
    margin-bottom: 120px;
}

.colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: blue;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}

img {
    border-radius: 8px;
    border: 2px solid black;
}

.evenements {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

footer {
    background-color: #333;
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
}
